.asset {
  padding: 32px 0 135px;
  overflow: hidden;
  &__logo {
    width: 98px;
    margin: 0 auto 64px;
  }

  &__scroll-text {
    .scroll-wrap {}
  }
  &__doll-slider {
    position: absolute;
    width: 300px;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    video {
      width: 100%;
      height: auto;
    }
  }
  &__thumb-slider {
    margin-top: 48px;
    .swiper-wrapper {
      
    }
    &__slide {
      max-width: 100px;
      width: 30%;
      margin-right: 16px;
      position: relative;
      cursor: pointer;
      .progress-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        background: #95FE1A;
        display: block;
        width: 0;
        // transition: width 0.3s ease;
      }
    }
  }



  .cont {
    margin-top: 134px;

    .inner {
      display: flex;
      justify-content: space-between;
      position: relative;

      // .doll {
      //   position: absolute;
      //   width: 220px;
      //   top: -180px;
      //   left: 50%;
      //   transform: translate(-50%, 0);
      // }

      .left {
        width: 33.3333%;
        text-align: right;

        .c-sub-ttl {
          margin-bottom: 32px;
          display: block;
        }
      }

      .right {
        width: 33.3333%;
        padding-top: 48px;

        // .thumb-asset {
        //   margin-top: 48px;
        //   display: flex;
        //   flex-wrap: wrap;

        //   .thumb {
        //     width: 100px;
        //     margin-right: 16px;
        //   }
        // }
      }
    }
  }
}