.asset {
  padding: 32px 0 355px;
  overflow: hidden;
  @include max-screen(1360px){
    padding-bottom: 26vw;
  }
  @include SP {
    padding: 32px 0 68px;
  }
  &__logo {
    width: 98px;
    margin: 0 auto 64px;
    @include SP {
      width: 56px;
      margin-bottom: 52px;
    }
  }

  &__scroll-text {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    .scroll-wrap {
      display: flex;
      align-items: center;
      white-space: nowrap;
      // width: 3158px;
      img {
        max-width: none;
        margin-right: 30px;
        display: block;
        width: 1549px;
        @include SP {
          // width: 774.5px;
          width: 900px;
          // width: 400px;
          margin-right: 15px;
        }
      }
    }
  }
  &__doll-slider {
    position: absolute;
    width: 300px;
    z-index: -1;
    left: 50%;
    top: calc(50% - 5px);
    // top: calc(50% - 40px);
    transform: translate(-50%,-50%);
    @include SP {
      z-index: +1;
      transform: translate(0%, 0);
      position: static;
      order: 2;
    }
    video {
      width: 100%;
      height: auto;
    }
    img {
      width: 220px;
      display: block;
      margin: 0 auto;
      @include SP {
        width: 40vw;
      }
    }
  }
  &__thumb-slider {
    // margin-top: 48px;
    @include SP {
      margin-top: 0px;
      order: 1;
      width: 79.30029155%;
    }
    .swiper-wrapper {
      
    }
    &__slide {
      max-width: 100px;
      width: 30%;
      margin-right: 16px;
      position: relative;
      cursor: pointer;
      &:last-of-type {
        margin-right: 0;
      }
      @include SP {
        width: calc((100% - 32px) / 3);
        max-width: 100%;
      }
      .progress-bar {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        background: #95FE1A;
        display: block;
        width: 0;
        // transition: width 0.3s ease;
      }
    }
  }



  .cont {
    margin-top: 134px;
    position: relative;
    z-index: +1;
    @include SP {
      margin-top: 67px;
    }
    .inner {
      display: flex;
      justify-content: space-between;
      position: relative;
      @include SP {
        flex-direction: column;
      }

      // .doll {
      //   position: absolute;
      //   width: 220px;
      //   top: -180px;
      //   left: 50%;
      //   transform: translate(-50%, 0);
      // }

      .left {
        width: 33.3333%;
        text-align: right;
        @include SP {
          width: 100%;
          text-align: left;
          order: 1;
          margin-bottom: 48px;
          padding: 0 8px;
        }

        .c-sub-ttl {
          margin-bottom: 32px;
          display: block;
          @include SP {
            margin-bottom: 24px;
          }
        }
      }

      .right {
        width: 33.3333%;
        padding-top: 48px;
        @include SP {
          width: 100%;
          display: flex;
          flex-direction: column;
          order: 3;
        }
        .c-text01 {
          @include SP {
            order: 2;
            margin-top: 46px;
            padding: 0 8px;
          }
        }

        // .thumb-asset {
        //   margin-top: 48px;
        //   display: flex;
        //   flex-wrap: wrap;

        //   .thumb {
        //     width: 100px;
        //     margin-right: 16px;
        //   }
        // }
      }
    }
  }
}