.chip {
  padding: 135px 0 80px;
  @include SP {
    padding: 34px 0 40px;
  }

  .cont-01 {
    display: flex;
    align-items: center;
    // justify-content: flex-end;
    padding: 0 60px;
    min-height: 608px;
    background: url(../images/top/chip_article.png)center center/cover no-repeat;
    position: relative;
    border-radius: 24px;
    @include SP {
      // padding: 64px 16px;
      padding: 64px 24px;
      align-items: flex-start;
      min-height: 218vw;
    }

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid #4D4F5A;
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
      background: rgba(8, 14, 10, 0.1);
      border-radius: 24px;
    }

    .img {
      // width: 50%;
      width: 33.33333333%;
      position: absolute;
      bottom: 0;
      // right: 120px;
      right: 11.11111111%;
      @include SP {
        // width: 100%;
        // width: 90%;
        width: 60%;
      }
    }

    .text {
      // width: 37.5%;
      // width: 38.88888889%;
      width: 43.8%;
      position: relative;
      @include SP {
        width: 100%;
      }

      .c-sub-ttl {
        display: block;
        margin-bottom: 32px;
        @include SP {
          margin-bottom: 24px;
        }
      }

      .c-text-shuffle {
        margin-bottom: 40px;
        @include SP {
          margin-bottom: 32px;
        }
      }
    }
  }

  .cont-02 {
    width: 59.44444444%;
    border: 1px solid #4D4F5A;
    border-radius: 24px;
    @include SP {
      width: 100%;
    }

    .row {
      // padding: 16px 0;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      white-space: nowrap;
      @include PC {
        // height: 140px;
        height: 12.06896552vw;
        max-height: 166px;
      }
      @include SP {
        height: 80px;
      }

      &:last-of-type {
        &:after {
          content: none;
        }
      }

      &:after {
        content: "";
        width: calc(100% - 48px);
        height: 1px;
        display: block;
        background: #4D4F5A;
        margin: 0 auto;
        position: absolute;
        left: 24px;
        bottom: 0;
      }

      &__item {
        white-space: nowrap;
        display: flex;
        align-items: center;
        animation-name: scrollEn2;
        animation-fill-mode: backwards;
        animation-duration: 80s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        &.row02 {
          animation-name: scrollEn;

          .img {
            width: 43.96551724vw;
            max-width: 510px;
            // margin-left: -10px;
            margin-right: 14px;
            @include SP {
              width: 267.5px;
              margin-left: -5px;
            }
          }
        }

        &.row03 {
          .img {
            width: 52.241379vw;
            max-width: 606px;
            // margin-left: -10px;
            margin-right: 24px;
            @include SP {
              width: 319.5px;
              margin-left: -5px;
            }
          }
        }

        .img {
          width: 53.53448276vw;
          max-width: 621px;
          margin-right: 21px;
          // margin-left: -10px;
          @include SP {
            width: 326px;
            margin-left: -5px;
          }
        }
      }

      @keyframes scrollEn {
        0% {
          transform: translateX(-25%);
        }

        100% {
          transform: translateX(0%);
        }
      }

      @keyframes scrollEn2 {
        0% {
          transform: translateX(0%);
        }

        100% {
          transform: translateX(-25%);
        }
      }
    }
  }

  .cont-03 {
    width: 38.8889%;
    @include SP {
      width: 100%;
      margin-top: 16px;
    }
  }

  .col2 {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    @include SP {
      display: block;
      margin-top: 16px;
    }
  }
}