.effect {
  padding: 80px 0 76px;
  @include SP {
    padding: 40px 0 38px;
  }

  &__text {
    max-width: 480px;
    margin-bottom: 120px;
    @include SP {
      margin-bottom: 60px;
      padding: 0 8px;
    }

    .c-sub-ttl {
      display: block;
      margin-bottom: 32px;
      @include SP {
        margin-bottom: 24px;
      }
    }

    .c-text-shuffle {
      margin-bottom: 40px;
      @include SP {
        margin-bottom: 32px;
      }
    }

    .c-text01 {
      @include PC {
        max-width: 420px;
      }
    }
  }

  &__list-wrap {
    @include SP {
      overflow-x: scroll;
      padding-bottom: 25px;
      &::-webkit-scrollbar {
        height: 3px;
        width: 3px;
        display: block;
        // background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include SP {
      width: 736px;
    }

    &__wrap {
      overflow: hidden;
      border-radius: 24px;
      position: absolute;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      z-index: 1;
      @include SP {
        border-radius: 16px;
      }
    }

    li {
      position: relative;
      width: 27.7778%;
      padding-top: 50%;
      border: solid 4px rgba(252, 250, 242, 0.3);
      border-radius: 24px;
      // background: url(../images/top/effect_img_01.png) 50%/ cover border-box
      //   /* background-origin */
      //   padding-box
      //   /* background-clip */
      // ;
      @include SP {
        border-radius: 16px;
      }

      &:before {
        position: absolute;
        z-index: -1;
        top: -4px;
        right: -4px;
        bottom: -4px;
        left: -4px;
        border: inherit;
        border-color: transparent;
        background: inherit;
        background-clip: border-box;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        content: '';
        -webkit-clip-path: inset(0);
        clip-path: inset(0 round 24px);
        border-radius: 24px;
        @include SP {
          border-radius: 16px;
          clip-path: inset(0 round 16px);
        }
      }

      .img {
        display: none;
      }

      .movie {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: calc(100% - 8px);
        width: 100%;
        max-width: calc(100% - 8px);
        border-radius: 20px;
        overflow: hidden;
        @include SP {
          border-radius: 12px;
        }
        video {
          position: absolute;
          display: block;
          height: 100%;
          width: auto;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }

      .grap {
        position: absolute;
        right: 0;
        bottom: -25px;
        z-index: +1;
        &.grap02 {
          right: -5px;
          bottom: -6px;
        }
        &.grap03 {
          right: -4px;
          bottom: -16px;
        }
      }

      .xrt {
        width: 88px;
        height: 88px;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 0 0 0 24px;
        overflow: hidden;
        @include SP {
          border-radius: 0 0 0 16px;
        }
        &:before {
          content: "";
          width: 176px;
          height: 176px;
          display: block;
          background: rgba(252, 250, 242, 0.3);
          position: absolute;
          left: -105px;
          bottom: -105px;
          transform: rotate(45deg);
          backdrop-filter: blur(10px);
          -webkit-backdrop-filter: blur(10px);
        }

        &__logo {
          width: 52px;
          position: absolute;
          left: 4px;
          bottom: 8px;
        }
      }

      .name {
        position: absolute;
        top: 0;
        right: -30px;
        @include font-size(12);
        font-weight: $proxima;
        font-weight: 400;
        letter-spacing: .05em;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        color: #8E909A;
      }
    }
  }

  .message {
    margin-top: 152px;
    @include font-size(38);
    line-height: 1.3;
    letter-spacing: .02em;
    color: #4D4F5A;
    font-family: $proxima;
    font-weight: 600;
    display: block;
    text-align: center;
    @include SP {
      margin-top: 76px;
      @include font-size(30);
    }
  }
}