.fashion {
  padding: 76px 0 32px;

  .cont {
    border-radius: 24px;
    background: #1C1C1E;
    padding: 88px 30px 80px;
    position: relative;

    &:before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 24px;
      position: absolute;
      background: url(../images/top/fashion_bg.png)center center/cover no-repeat;
      top: 0;
      left: 0;
    }
  }

  &__head {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;

    h2 {
      width: 49.4845%;
    }

    .c-text01 {
      width: 43.299%;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    li {
      width: calc((100% - 120px) / 3);
      position: relative;

      &:last-of-type {
        .img {
          &:after {
            content: none;
          }
        }
      }
    }

    a {}

    .img {
      border-radius: 24px;
      position: relative;

      &:after {
        content: "";
        width: 36px;
        height: 26px;
        display: block;
        background: url(../images/common/arrow.svg)center center/cover no-repeat;
        position: absolute;
        top: 50%;
        right: -48px;
      }

      .tag {
        position: absolute;
        left: 0;
        bottom: 73px;
        padding: 0 8px;

        .tag-list {
          display: flex;
          flex-wrap: wrap;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 10px;
            background: rgba(252, 250, 242, 0.65);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            border-radius: 24px;
            @include font-size(14);
            letter-spacing: .05em;
            font-family: $proxima;
            font-weight: 400;
            margin-right: 6px;
            margin-bottom: 6px;
            color: #1C1C1E;
            white-space: nowrap;
          }
        }
      }

      .bottom {
        width: 100%;
        padding: 16px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(77, 79, 90, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0px 0px 24px 24px;
        position: absolute;
        left: 0;
        bottom: -1px;

        span {
          @include font-size(24);
          letter-spacing: .02em;
          line-height: 1.3;
          font-family: $proxima;
          font-weight: 600;
        }
      }
    }

    .text {
      margin-top: 24px;

      p {
        @include font-size(12);
        line-height: 1.8;
        letter-spacing: 0.05em;
        color: #8E909A;
      }
    }
  }
}