.fashion {
  padding: 76px 0 32px;
  @include SP {
    padding: 38px 0 32px;
  }
  .cont {
    border-radius: 24px;
    background: #1C1C1E;
    padding: 88px 30px 80px;
    position: relative;
    @include SP {
      padding: 56px 16px 52px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 24px;
      position: absolute;
      background: url(../images/top/fashion_bg.png)center center/cover no-repeat;
      top: 0;
      left: 0;
    }
  }

  &__head {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
    position: relative;
    @include SP {
      padding: 0;
      display: block;
      margin-bottom: 40px;
    }

    h2 {
      // width: 49.4845%;
      width: 33.62745098%;
      @include SP {
        // width: 100%;
        // width: 80%;
        width: 59.59302326%;
        margin-bottom: 24px;
      }
      img {
        width: 100%;
      }
    }

    .c-text01 {
      width: 43.299%;
      max-width: 420px;
      @include SP {
        width: 100%;
        text-align: justify;
      }
    }
  }

  &__list-wrap {
    position: relative;
    @include SP {
      overflow-x: scroll;
      padding-bottom: 10px;
      margin: 0 -16px;
      &::-webkit-scrollbar {
        height: 3px;
        width: 3px;
        display: block;
        // background-color: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include SP {
      // width: 760px;
      width: 708px;
    }

    li {
      width: calc((100% - 120px) / 3);
      position: relative;
      @include SP {
        width: calc((100% - 96px) / 3);
      }
      &:last-of-type {
        .image-wrap {
          &:after {
            content: none;
          }
        }
      }
    }

    a {
      &:hover {
        opacity: 1;
      }
    }

    .image-wrap {
      position: relative;
      &:after {
        content: "";
        width: 32px;
        height: 28px;
        display: block;
        background: url(../images/common/arrow.svg)center center/cover no-repeat;
        position: absolute;
        top: 50%;
        right: -46px;
        transform: translate(0, -50%);
        @include SP {
          right: -40px;
          height: 26px;
        }
      }
    }

    .image {
      border-radius: 24px;
      position: relative;
      overflow: hidden;
      padding-top: 178%;
      z-index: 1;
      @include SP {
        border-radius: 16px;
      }
      
      .thumb {
        position: absolute;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition: .6s;
        img {
          height: 100%;
          width: auto;
          object-fit: cover;
        }
        &.zoom {
          transform: translate(-50%,-50%)scale(1.1);
        }      
      }

      video {
        width: auto;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        transition: .6s;
        &.active {
          opacity: 1;
        }
        &.zoom {
          transform: translate(-50%,-50%)scale(1.1);
        }
      }

      .tag {
        position: absolute;
        left: 0;
        bottom: 73px;
        padding: 0 8px;
        @include SP {
          bottom: 65px;
          padding: 0 10px;
        }

        .tag-list {
          display: flex;
          flex-wrap: wrap;

          span {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 8px 10px;
            background: rgba(252, 250, 242, 0.65);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            border-radius: 24px;
            @include font-size(14);
            letter-spacing: .05em;
            font-family: $proxima;
            font-weight: 400;
            margin-right: 6px;
            margin-bottom: 6px;
            color: #1C1C1E;
            white-space: nowrap;
            @include SP {
              @include font-size(12);
              border-radius: 24px;
            }
          }
        }
      }

      .bottom {
        width: 100%;
        padding: 16px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(77, 79, 90, 0.4);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 0px 0px 24px 24px;
        position: absolute;
        left: 0;
        bottom: -1px;
        @include SP {
          border-radius: 0px 0px 16px 16px;
        }

        span {
          @include font-size(24);
          letter-spacing: .02em;
          line-height: 1.3;
          font-family: $proxima;
          font-weight: 600;
          @include SP {
            @include font-size(18);
          }
        }
      }
    }

    .text {
      margin-top: 24px;

      p {
        @include font-size(12);
        line-height: 1.8;
        letter-spacing: 0.05em;
        color: #8E909A;
        @include SP {
          text-align: justify;
        }
      }
    }
  }
}