.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 104;
  opacity: 0.7;
  &__logo {
    position: absolute;
    width: 347px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include max-screen(1680px){
      width: 20.703125vw;
    }
    @include max-screen(768px) {
      width: 37vw;
    }
    &__logo {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      svg {
        width: 48.67924528%;
        height: auto;
      }
    }
    &__noh {
      width: 300.5625px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      margin-top: 26px;
      @include max-screen(1680px){
        width: 17.890625vw;
        margin-top: 1.5vw;
      }
      @include max-screen(768px) {
        width: 32vw;
        margin-top: 4.3vw;
      }
      svg {
        &:nth-of-type(1){
          width: 27.88209607%;
          height: auto;
        }
        &:nth-of-type(2){
          width: 30.32751092%;
          height: auto;
        }
        &:nth-of-type(3){
          width: 26.88646288%;
          height: auto;
        }
      }
    }
  }
}