.look {
  padding: 76px 0;
  @include SP {
    padding: 38px 0;
  }

  &__scroll {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    .img-wrap {
      display: flex;
      align-items: center;
      white-space: nowrap;
      animation-name: scrollEn2;
      animation-fill-mode: backwards;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-delay: -15s;
    }

    .img {
      width: 360px;
      margin-right: 60px;
      @include SP {
        width: 180px;
      }

      &:nth-of-type(2n) {
        width: 420px;
        @include SP {
          width: 210px;
        }
      }
    }
  }
}