.movie {
  position: relative;
  .inner {
    max-width: 1280px;
  }
  &__movie {
    margin-top: -110px;
    $screen-background: #121010;
    background: $screen-background;
    position: relative;
    overflow: hidden;
    cursor: url(../images/common/btn_play.svg) 96 96, auto;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: transparentize($screen-background, 0.9);
      opacity: 0;
      z-index: 2;
      pointer-events: none;
      animation: flicker 0.15s infinite;
      border-radius: 24px;
    }
    @keyframes flicker {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          opacity: random();
        }
      }
    }
    video {
      width: 100%;
      display: block;
      border-radius: 24px;
    }
  }
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    &.active {
      visibility: visible;
      opacity: 1;
    }
    &__youtube {
      width: calc(100% - 80px);
      max-width: 800px;
      height: 450px;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
    .close {
      width: 60px;
      position: absolute;
      top: 26px;
      right: 26px;
    }
  }
}