.movie {
  position: relative;
  .inner {
    max-width: 1680px;
    // max-width: 100%;
  }
  &__movie {
    // margin-top: -110px;
    margin-top: -8.59375vw;
    $screen-background: #121010;
    background: $screen-background;
    position: relative;
    overflow: hidden;
    cursor: none;
    border-radius: 24px;
    @include SP {
      margin-top: -20px;
      border-radius: 16px;
    }
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: transparentize($screen-background, 0.9);
      opacity: 0;
      z-index: 2;
      pointer-events: none;
      animation: flicker 0.15s infinite;
      border-radius: 24px;
      @include SP {
        border-radius: 16px;
      }
    }
    @keyframes flicker {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          opacity: random();
        }
      }
    }
    video {
      width: 100%;
      display: block;
      border-radius: 24px;
      @include SP {
        border-radius: 16px;
      }
    }
    &__play {
      width: 88px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: .6s;
    &.active {
      visibility: visible;
      opacity: 1;
    }
    &__bg {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: .6s;
    }
    &__youtube {
      width: calc(100% - 80px);
      max-width: 1000px;
      // width: 100%;
      padding-top: 35.2%;
      position: relative;
      @include SP {
        width: calc(100% - 32px);
        padding-top: 50%;
      }
      iframe {
        // min-width: 100%;
        // min-height: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }
    .close {
      width: 60px;
      position: absolute;
      top: 26px;
      right: 26px;
      @include SP {
        width: 50px;
        right: 16px;
        top: 16px;
      }
    }
  }
}

#cursor{
	position: fixed;
  /*丸の大きさと色の指定*/
  background: url(../images/common/btn_play.svg)center center/cover no-repeat;
  border-radius:50%;
  display: block;
	width: 96px;
	height: 96px;
	margin: -48px 0 0 -48px;/*真ん中にくるようにマイナスマージンで調整*/
  z-index: 2;/*一番手前に来るように*/
	pointer-events: none;/*クリックできなくなるのを防ぐため。noneで対応*/
	opacity: 0;
  transform: scale(0);
  transition: transform 0.3s;/*アニメーションの秒数指定*/
  &.active {
    transform: scale(1);
  }
}