.mv {
  padding-top: 60.9375%;
  position: relative;
  background: url(../images/top/mv.png)center center/cover no-repeat;
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    img {
      width: calcvw(782);
      height: auto;
      
    }
  }
}
