.technology {
  padding: 64px 0 76px;
  @include SP {
    padding: 32px 0 56px;
  }
  .inner {
    // max-width: 1320px;
    // max-width: 1400px;
  }
  &__read {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 83px;
    padding-bottom: 104px;
    @include SP {
      display: block;
      padding-top: 42px;
      padding-bottom: 52px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .draw-svgs {
      position: absolute;
      width: 100%;
      top: 0px;
      left: 0;
      display: flex;
      justify-content: space-between;
      z-index: 0;
      @include SP {
        top: -80px;
        z-index: +1;
        // display: block;
      }
      svg {
        &:nth-of-type(1){
          @include PC {
            width: 26.66666667%;
            height: auto;
          }
          @include SP {
            width: 26.66666667%;
            width: 27%;
          }
        }
        &:nth-of-type(2){
          @include PC {
            width: 30.5556%;
            height: auto;
          }
          @include SP {
            width: 30.5556%;
            width: 31%;
          }
        }
        &:nth-of-type(3){
          @include PC {
            width: 25.64814815%;
            height: auto;
          }
          @include SP {
            width: 25.64814815%;
          }
        }
        path {
          @include SP {
            stroke-width: 2px;
          }
        }
      }
    }

    .left {
      // max-width: 480px;
      width: 44.4444%;
      text-align: right;
      position: relative;
      @include SP {
        max-width: 100%;
        width: 100%;
        text-align: left;
      }
    }

    .right {
      max-width: 480px;
      width: 44.4444%;
      margin-top: 128px;
      position: relative;
      @include SP {
        max-width: 100%;
        width: 100%;
        margin-top: 32px;
      }
    }
  }

  &__img {
    display: flex;
    justify-content: space-between;
    @include SP {
      display: block;  
    }

    .img01 {
      width: 38.8889%;
      position: relative;
      overflow: hidden;
      border-radius: 24px;
      @include SP {
        width: 100%;
        border-radius: 16px;
        padding-top: 100%;
      }
      video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        // max-width: 100%;
        width: auto;
        max-height: 100%;
      }
    }

    .img02 {
      width: 59.6296%;
      @include SP {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}