.footer {
  .inner {
    max-width: 100%;
  }
  .cont {
    padding: 56px 60px 72px;
    border-radius: 24px;
    background: #1C1C1E;
    display: flex;
    justify-content: space-between;
    @include SP {
      display: block;
      padding: 56px 18px 56px;
    }
    .sub-ttl {
      @include font-size(12);
      font-family: $proxima;
      font-weight: 400;
      letter-spacing: .05em;
      line-height: 1.21833333;
    }
    .left {
      .logo {
        width: 238px;
        display: block;
        margin: 24px 0 56px;
      }
      p {
        @include font-size(12);
        line-height: 1.8;
        letter-spacing: .05em;
        font-weight: 400;
        margin: 8px 0 16px;
        color: #8E909A;
      }
      .contact {
        @include font-size(28);
        font-family: $proxima;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: .02em;
        text-decoration: underline;
      }
    }
    .right {
      width: 38.8889%;
      display: flex;
      @include SP {
        width: 100%;
        margin-top: 56px;
      }
      .box {
        &:nth-of-type(1){
          margin-right: 100px;
          @include SP {
            margin-right: 48px;
          }
        }
      }
      .link-list {
        margin-top: 24px;
        li {
          margin-bottom: 8px;
          a {
            @include font-size(18);
            letter-spacing: .02em;
            line-height: 1.3;
            font-family: $proxima;
            font-weight: 400;
          }
          a[target="_blank"]{
            text-decoration: underline;
          }
          &.disable {
            a {
              text-decoration: line-through;
              pointer-events: none;
            }
          }
        }
      }
    }
  }
  .copyright {
    padding: 24px 0 40px;
    p {
      @include font-size(12);
      line-height: 1.21833333;
      font-family: $proxima;
      font-weight: 400;
      letter-spacing: .05em;
      color: #8E909A;
    }
  }
  &.en {
    .cont {
      .left {
        p {
          font-family: $proxima;
          @include font-size(12);
          letter-spacing: 0.05em;
        }
      }
    }
  }
}
