.header {
  padding: 16px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: +99;
  @include SP {
    padding: 28px 0;
  }
  .inner {
    padding: 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    @include SP {
      padding: 0 16px;
    }
  }
  &__logo {
    display: block;
    width: 68px;
    @include SP {
      width: 56px;
    }
  }
  &__right {
    display: flex;
    align-items: center;
    .sns-list {
      display: flex;
      align-items: center;
      li {
        width: 18px;
        margin-left: 28px;
        @include SP {
          margin-left: 24px;
        }
        a {
          display: block;
        }
      }
    }
    .lang {
      width: 74px;
      height: 34px;
      border: 1px solid #fff;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 36px;
      position: relative;
      cursor: pointer;
      @include SP {
        margin-left: 24px;
      }
      &:hover {
        .lang__list {
          opacity: 1;
          visibility: visible;
        }
      }
      span {
        @include font-size(16);
        letter-spacing: 0.05em;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $proxima;
        font-weight: 600;
        &:after {
          content: "";
          width: 11px;
          height: 6px;
          display: inline-block;
          background: url(../images/common/arrow_bottom.svg)center center/cover no-repeat;
          margin-left: 8px;
        }
      }
      &__list {
        position: absolute;
        top: 36px;
        left: 0;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        transition: .3s;
        opacity: 0;
        visibility: hidden;
        li {
          @include font-size(16);
          letter-spacing: 0.05em;
          font-weight: 600;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 34px;
            background: #000;
            color: #fff;
            font-family: $proxima;
            font-weight: 600;
            transition: .3s;
            &:hover {
              background: #95FE1A;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
