.c-text-shuffle {
  // &#shuffle01 {
  //   @include PC {
  //     height: 148px;
  //   }
  //   @include SP {
  //     height: 125px;
  //   }
  // }
  // &#shuffle02 {
  //   @include PC {
  //     height: 198px;
  //   }
  //   @include SP {
  //     height: 167px;
  //   }
  // }
  // &#shuffle03 {
  //   @include PC {
  //     height: 99px;
  //   }
  //   @include SP {
  //     height: 125px;
  //   }
  // }
  // &#shuffle04 {
  //   @include PC {
  //     height: 99px;
  //   }
  //   @include SP {
  //     height: 125px;
  //   }
  // }
  // &#shuffle05 {
  //   @include PC {
  //     // height: 99px;
  //   }
  //   @include SP {
  //     height: 166px;
  //   }
  // }
  &--element {
    font-family: $proxima;
    @include font-size(38);
    letter-spacing: .02em;
    font-weight: 600;
    line-height: 1.3;
    @include SP {
      @include font-size(32);
    }
  }
}

.c-sub-ttl {
  @include font-size(12);
  letter-spacing: .05em;
  font-family: $proxima;
  font-weight: 400;
  color: #8E909A;
}

.c-text01 {
  @include font-size(14);
  line-height: 2;
  letter-spacing: .05em;
  @include SP {
    @include font-size(12);
  }
}