.c-text-shuffle {
  &--element {
    font-family: $proxima;
    @include font-size(38);
    letter-spacing: .02em;
    font-weight: 600;
    line-height: 1.3;
  }
}

.c-sub-ttl {
  @include font-size(12);
  letter-spacing: .05em;
  font-family: $proxima;
  font-weight: 400;
  color: #8E909A;
}

.c-text01 {
  @include font-size(14);
  line-height: 2;
  letter-spacing: .05em; 
}